<mat-toolbar class="bg-header">
    <ul>
        <a *ngIf="userSvc.loggedIn()" routerLink="listTask">List Task</a>
    </ul>
    <ul>
        <a *ngIf="userSvc.loggedIn()" routerLink="saveTask">Create Task</a>
    </ul>
    <ul>
        <a *ngIf="userSvc.loggedIn()" routerLink="listUser">Admin</a>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
        <a *ngIf="!userSvc.loggedIn()" mat-button routerLink="signUp">Sign Up</a>
        <a *ngIf="!userSvc.loggedIn()" mat-button routerLink="login">Login</a>
        <a *ngIf="userSvc.loggedIn()" (click)="userSvc.logout()" mat-button>Logout</a>
    </ul>
</mat-toolbar>
