/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-true {
    background-color: rgb(27, 116, 19);
    color: #FFF;
}

.snackbar-false {
    background-color: rgb(207, 7, 7);
    color: #FFF;
}
